<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>


      <form  method = "post">
         <p>Sensation:</p>
         <p><input type = "text" id="sentiment" name="sentiment" placeholder="sentiment"/></p>
         <p><input type = "submit" value = "submit" /></p>

      </form>
          {% if message %}

        <div><h>
        {{message}}
        </h>
        </div>
    {% endif  %}


</body>
</html>